---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import TechList from "../components/TechList.astro";
import ToolList from "../components/ToolList.astro";
---

<Layout title="My professional GitHub page">
  <div class="flex flex-col gap-10">
    <Header />
    <TechList />
    <!-- <div class="flex flex-col gap-4">
      <h2 class="text-slate-700 text-2xl font-bold">
        Some of my <span class="text-blue-500 text-2xl italic">repos</span>
      </h2>
    </div> -->
    <ToolList />
    <footer class="text-center text-gray-600">
      &copy; {new Date().getFullYear()}
    </footer>
  </div>
</Layout>

<style is:global>
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
