---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="My professional GitHub page">
  <h2 class="text-center text-3xl font-bold">
    My <span class="text-gradient">professional</span> GitHub page
  </h2>
  <div class="text-gray-500 italic mt-2 mb-10 text-center">
    Lightweight. Minimal. Portable. Lightning-fast.
  </div>
  <ul role="list" class="link-card-grid">
    <Card href="/color" title="Color extractor" body="(German)" />
    <Card
      newTab
      href="https://snpy.link"
      title="snpy.link"
      body="The best link shortener"
    />
    <Card
      newTab
      href="https://docker-tools.com/"
      title="Docker Tools"
      body="Generate common Docker commands"
    />
    <Card href="/pizza" title="Pizza calculator" body="(German)" />
  </ul>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
