---
import "@fontsource/indie-flower";

import Layout from "../layouts/Layout.astro";
import PizzaCalculator from "../components/tools/PizzaCalculator";
import PizzaIcon from "../components/tools/PizzaCalculator/PizzaIcon";
---

<Layout title="Pizzarechner">
  <div class="text-center text-gray-500 text-center mb-5">
    <a href="/">&lt; Back</a>
  </div>
  <div class="flex text-4xl gap-3 mb-8 justify-center items-center">
    <PizzaIcon />
    <h1 class="mb-0 title">Pizzarechner</h1>
  </div>
  <PizzaCalculator client:load />
</Layout>

<style>
  .title {
    font-family: "Indie Flower", cursive;
  }
</style>
