---
import TechCard from "./tech_card.astro";

const tech: [string, string, string][] = [
  ["Rust", "https://www.rust-lang.org", "/rust.svg"],
  ["SolidJS", "https://www.solidjs.com", "/solidjs.svg"],
  ["Astro", "https://www.astro.build", "/astro.svg"],
  ["Tailwind", "https://www.tailwindcss.com", "/tailwind.svg"],
  ["TypeScript", "https://www.typescriptlang.org", "/typescript.svg"],
  ["React", "https://www.react.dev", "/react.svg"],
  ["Prisma", "https://www.prisma.io", "/prisma.svg"],
  ["GraphQL", "https://www.graphql.org", "/graphql.svg"],
];
---

<div class="flex flex-col gap-4">
  <h2 class="text-slate-700 text-2xl font-bold">
    <span class="text-blue-500 text-2xl italic">Tech</span> I like
  </h2>
  <ul role="list" class="card-grid grid gap-3">
    {
      tech.map(([title, url, imgSrc]) => (
        <TechCard title={title} url={url} imgSrc={imgSrc} />
      ))
    }
  </ul>
</div>
