---
import ToolCard from "./tool_card.astro";
---

<div class="flex flex-col gap-4">
  <h2 class="text-slate-700 text-2xl font-bold">
    Some <span class="text-blue-500 text-2xl italic">tools</span> I made
  </h2>
  <ul role="list" class="card-grid grid gap-3">
    <ToolCard
      newTab
      href="https://snpy.link"
      title="snpy.link"
      body="The best link shortener"
    />
    <ToolCard
      href="/editor"
      title="TypeScript editor"
      body="Run TypeScript in your browser"
    />
    <ToolCard
      href="/color"
      title="Color extractor"
      body="Extract an image's colours in your browser"
    />
    <ToolCard
      newTab
      href="https://docker-tools.com/"
      title="Docker Tools"
      body="Generate common Docker commands"
    />
    <ToolCard href="/pizza" title="Pizza calculator" body="It's in German" />
  </ul>
</div>
